<div class="col-md-4">
    <div class="card mt-2" style="width: 15rem;">
        <img src="{{asset('build/images/logo.png')}}" class="card-img-top" alt="...">
            <div class="card-body">
            <hr>
            <p class="card-text text-center">{{content|slice(0,100)}}...</p>
            <a href="#" class="btn btn-outline-success">plus d'infos</a>
        </div>
    </div>
</div>       